.categoies{
    max-width: 700px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
}
.categoies form{
    width: 290px;
    margin-bottom: 20px;

}
.categoies label{
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.categoies input , button{
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid #555;
}
.categoies input{
    width: 210px;
}
.categoies button{
    width: 70px;
    background-color: #555;
    color: white;
    margin-left: 10px;
}
.categoies .row{
    min-width: 290px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border:1px solid #ccc;
}
